<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
        <link rel="stylesheet" type="text/css" href="file:///home/devasc/MIDTERM/static/style.css">

</head>
<body>
	<h1>Login</h1>
	<form action="/login" method="post">
		<label for="username">Username:</label>
		<input type="text" id="username" name="username"><br><br>
		<label for="password">Password:</label>
		<input type="password" id="password" name="password"><br><br>
		<input type="submit" value="Login">
	</form>
	<br>
	<a href="file:///home/devasc/MIDTERM/templates/registration.html">Register</a>
</body>
</html>
